ipdb
joblib
cytoolz
lz4==2.1.9
lmdb==0.97
msgpack-numpy
msgpack
toolz
transformers==4.11.3
tensorboard
tqdm
easydict
pycocotools>=2.0.1
opencv-python
tensorboardX==2.0
av
ujson
einops
decord
timm
spacy
pandas
nltk
protobuf=3.20.0
pyws
pretty_errors
